torch==2.0.1
torchvision==0.15.2
natsort
scikit-learn
easydict
pyiqa
flow_vis
click
dists_pytorch
facexlib
openai-clip
safetensors
#pai-easycv
jsonplus
cityscapesscripts
onnxruntime
cython-bbox
filterpy
ftfy
wcwidth
timm==0.9.12
